.container {
  display: flex;
  justify-content: center;
  align-items: baseline;

  background: url("../../assets/img/sidebar.svg");
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: center; */

  padding-bottom: 5rem;
}
.menu-element {
  display: flex;
  justify-content: center;
  align-items: center;
}
.el-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin: 25px;
}
/* .menu-element:nth-of-type(4){
    padding-bottom: 1rem;
} */
.el-header > h4 {
  margin: 0;

  color: hsl(228, 100%, 84%);

  font-size: 0.75rem;
}
.el-header > span {
  margin: 0;

  color: hsl(0, 0%, 100%);
}
