.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  border: 3px solid hsl(229, 24%, 87%);
  border-radius: 15px;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 4rem;

  gap: 4rem;

  width: 210px;
}
.card:hover {
  cursor: pointer;
  border: 3px solid rgb(87, 1, 167);
}

.card.selected {
  background: #ececec;
  border-color: #888;
}

.card > img {
  width: 65px;
  height: 65px;
}

.card-content h3 {
  margin: 0;

  color: hsl(213, 96%, 26%);
}
.card-content > span {
  color: hsl(231, 11%, 63%);
}
